# Основные объекты Pandas: Series

In [1]:
import pandas as pd

data = pd.Series(["Январь", "Февраль", "Март", "Апрель"],
                 index = ['Первый', "Второй", "Третий", "Четвёртый"])
display(data)

Первый        Январь
Второй       Февраль
Третий          Март
Четвёртый     Апрель
dtype: object

In [3]:
print(data)

Первый        Январь
Второй       Февраль
Третий          Март
Четвёртый     Апрель
dtype: object

In [4]:
print(data['Первый'])

Январь

In [5]:
data[["Первый", "Третий"]]

Первый    Январь
Третий      Март
dtype: object

In [6]:
print(data.iloc[1])

Февраль

In [7]:
print(data.iloc[1:])

Второй       Февраль
Третий          Март
Четвёртый     Апрель
dtype: object

In [8]:
print(data.iloc[-1::-1])

Четвёртый     Апрель
Третий          Март
Второй       Февраль
Первый        Январь
dtype: object

## Тест по Series

Создайте Series, содержащий цифры от 10 до 1000 ( data = pd.Series(list(range(10, 1001))) ). Что выведет на экран следующий код: print(data.loc[10] + data.loc[23] - data.loc[245] + data.iloc[122])?

In [9]:
data = pd.Series(list(range(10, 1001)))
print(data.loc[10] + data.loc[23] - data.loc[245] + data.iloc[122])

-70

Какой индекс у последнего элемента data из предыдущего задания?

In [17]:
display(data)

0        10
1        11
2        12
3        13
4        14
       ...
986     996
987     997
988     998
989     999
990    1000
Length: 991, dtype: int64

## Основные объекты Pandas: DataFrame

In [18]:
df = pd.DataFrame({'col1': [1, 2], 'col2': [3, 4]})
display(df)

   col1  col2
0     1     3
1     2     4

In [19]:
df = pd.DataFrame([ [1,2,3], [2,3,4] ],
                  columns = ['foo', 'bar', 'baz'], 
                  index = ['foobar', 'foobaz'])
display(df)

        foo  bar  baz
foobar    1    2    3
foobaz    2    3    4

## Основные объекты Pandas: read_csv

In [20]:
data = pd.read_csv('data_sf.csv')
display(data)

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF,84,95,...,75,96,33,28,26,6,11,15,14,8
1,1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST,84,94,...,85,95,28,31,23,7,11,15,14,11
2,2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW,79,87,...,81,94,27,24,33,9,9,15,15,11
3,3,De Gea,27,Spain,Manchester United,72000000,260000,GK,17,13,...,40,68,15,21,13,90,85,87,88,94
4,4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM,93,82,...,79,88,68,58,51,15,13,5,10,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12892,13121,J. Lundstram,19,England,Crewe Alexandra,1100000,1000,CM,34,38,...,43,45,40,48,47,10,13,7,8,9
12893,13122,N. Christoffersson,19,Sweden,Trelleborgs FF,60000,1000,ST,23,52,...,43,42,22,15,19,10,9,9,5,12
12894,13123,B. Worman,16,England,Cambridge United,60000,1000,ST,25,40,...,55,41,32,13,11,6,5,10,6,13
12895,13124,D. Walker-Rice,17,England,Tranmere Rovers,60000,1000,RW,44,50,...,50,46,20,25,27,14,6,14,8,9
12896,13125,G. Nugent,16,England,Tranmere Rovers,60000,1000,CM,41,34,...,33,43,40,43,50,10,15,9,12,9

## Получение информации о датафрейме: head и tail

In [22]:
football = pd.read_csv('data_sf.csv')
display(football.head(7))

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF,84,95,...,75,96,33,28,26,6,11,15,14,8
1,1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST,84,94,...,85,95,28,31,23,7,11,15,14,11
2,2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW,79,87,...,81,94,27,24,33,9,9,15,15,11
3,3,De Gea,27,Spain,Manchester United,72000000,260000,GK,17,13,...,40,68,15,21,13,90,85,87,88,94
4,4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM,93,82,...,79,88,68,58,51,15,13,5,10,13
5,5,E. Hazard,27,Belgium,Chelsea,93000000,340000,LF,81,84,...,86,91,34,27,22,11,12,6,8,8
6,6,L. Modrić,32,Croatia,Real Madrid,67000000,420000,RCM,86,72,...,82,84,60,76,73,13,9,7,14,9

In [25]:
display(football.tail())

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
12892,13121,J. Lundstram,19,England,Crewe Alexandra,1100000,1000,CM,34,38,...,43,45,40,48,47,10,13,7,8,9
12893,13122,N. Christoffersson,19,Sweden,Trelleborgs FF,60000,1000,ST,23,52,...,43,42,22,15,19,10,9,9,5,12
12894,13123,B. Worman,16,England,Cambridge United,60000,1000,ST,25,40,...,55,41,32,13,11,6,5,10,6,13
12895,13124,D. Walker-Rice,17,England,Tranmere Rovers,60000,1000,RW,44,50,...,50,46,20,25,27,14,6,14,8,9
12896,13125,G. Nugent,16,England,Tranmere Rovers,60000,1000,CM,41,34,...,33,43,40,43,50,10,15,9,12,9

## Получение информации о датафрейме: info

In [27]:
display(football.info(verbose=True))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12897 entries, 0 to 12896
Data columns (total 42 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       12897 non-null  int64
 1   Name             12897 non-null  object
 2   Age              12897 non-null  int64
 3   Nationality      12897 non-null  object
 4   Club             12897 non-null  object
 5   Value            12897 non-null  int64
 6   Wage             12897 non-null  int64
 7   Position         12897 non-null  object
 8   Crossing         12897 non-null  int64
 9   Finishing        12897 non-null  int64
 10  HeadingAccuracy  12897 non-null  int64
 11  ShortPassing     12897 non-null  int64
 12  Volleys          12897 non-null  int64
 13  Dribbling        12897 non-null  int64
 14  Curve            12897 non-null  int64
 15  FKAccuracy       12897 non-null  int64
 16  LongPassing      12897 non-null  int64
 17  BallControl      12897 non-null  int64
 18  Acceleration     12897 non-null  int64
 19  SprintSpeed      12897 non-null  int64
 20  Agility          12897 non-null  int64
 21  Reactions        12897 non-null  int64
 22  Balance          12897 non-null  int64
 23  ShotPower        12897 non-null  int64
 24  Jumping          12897 non-null  int64
 25  Stamina          12897 non-null  int64
 26  Strength         12897 non-null  int64
 27  LongShots        12897 non-null  int64
 28  Aggression       12897 non-null  int64
 29  Interceptions    12897 non-null  int64
 30  Positioning      12897 non-null  int64
 31  Vision           12897 non-null  int64
 32  Penalties        12897 non-null  int64
 33  Composure        12897 non-null  int64
 34  Marking          12897 non-null  int64
 35  StandingTackle   12897 non-null  int64
 36  SlidingTackle    12897 non-null  int64
 37  GKDiving         12897 non-null  int64
 38  GKHandling       12897 non-null  int64
 39  GKKicking        12897 non-null  int64
 40  GKPositioning    12897 non-null  int64
 41  GKReflexes       12897 non-null  int64
dtypes: int64(38), object(4)
memory usage: 4.1+ MB

None

## Получение информации о датафрейме: describe

In [28]:
football.describe()

,Unnamed: 0,Age,Value,Wage,Crossing,Finishing,HeadingAccuracy,ShortPassing,Volleys,Dribbling,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
count,12897.000000,12897.000000,1.289700e+04,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,...,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000
mean,6605.040862,24.795379,2.112449e+06,7517.562224,47.076374,42.876328,50.202528,56.026983,40.295030,52.461735,...,46.459874,55.942932,45.655811,46.186710,44.386679,17.218345,16.962317,16.797938,16.950221,17.315965
std,3782.545526,4.872212,6.498424e+06,23061.985387,18.043470,19.096935,17.281593,14.740436,17.080687,18.871643,...,15.479313,11.280631,19.456346,21.172586,20.726546,18.085618,17.349624,16.971411,17.369297,18.335817
min,0.000000,16.000000,0.000000e+00,1000.000000,5.000000,2.000000,4.000000,7.000000,4.000000,4.000000,...,5.000000,12.000000,3.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,3357.000000,21.000000,2.500000e+05,1000.000000,35.000000,28.000000,43.000000,50.000000,28.000000,45.000000,...,37.000000,49.000000,29.000000,25.000000,23.000000,8.000000,8.000000,8.000000,8.000000,8.000000
50%,6622.000000,24.000000,5.000000e+05,2000.000000,51.000000,45.000000,54.000000,60.000000,41.000000,58.000000,...,47.000000,56.000000,51.000000,54.000000,51.000000,11.000000,11.000000,11.000000,11.000000,11.000000
75%,9876.000000,28.000000,8.500000e+05,4000.000000,61.000000,59.000000,62.000000,65.000000,53.000000,65.000000,...,58.000000,63.000000,62.000000,64.000000,62.000000,14.000000,14.000000,14.000000,14.000000,14.000000
max,13125.000000,45.000000,1.185000e+08,565000.000000,93.000000,95.000000,94.000000,93.000000,90.000000,97.000000,...,91.000000,96.000000,93.000000,93.000000,91.000000,90.000000,92.000000,91.000000,90.000000,94.000000

In [29]:
football.describe(include = ['object'])

                Name Nationality             Club Position
count          12897       12897            12897    12897
unique         12326         156              650       27
top     J. Rodríguez     England  Shonan Bellmare       GK
freq               9        1368               30     1641

In [30]:
#Чтобы вывести информацию целиком, а не в обрезанном виде, можно написать:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    display(football.describe())

,Unnamed: 0,Age,Value,Wage,Crossing,Finishing,HeadingAccuracy,ShortPassing,Volleys,Dribbling,Curve,FKAccuracy,LongPassing,BallControl,Acceleration,SprintSpeed,Agility,Reactions,Balance,ShotPower,Jumping,Stamina,Strength,LongShots,Aggression,Interceptions,Positioning,Vision,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
count,12897.000000,12897.000000,1.289700e+04,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000
mean,6605.040862,24.795379,2.112449e+06,7517.562224,47.076374,42.876328,50.202528,56.026983,40.295030,52.461735,44.264403,40.321625,50.115143,55.463596,63.109715,63.205629,61.819648,59.430565,63.171978,52.530666,64.285415,61.123052,64.271614,43.971931,53.777933,44.875940,47.166008,50.843374,46.459874,55.942932,45.655811,46.186710,44.386679,17.218345,16.962317,16.797938,16.950221,17.315965
std,3782.545526,4.872212,6.498424e+06,23061.985387,18.043470,19.096935,17.281593,14.740436,17.080687,18.871643,17.781283,16.718481,15.215160,16.692643,15.129988,14.903845,14.858729,8.875832,14.190700,16.975214,11.765467,16.194498,12.550696,18.769749,17.232716,20.188799,19.245882,13.745960,15.479313,11.280631,19.456346,21.172586,20.726546,18.085618,17.349624,16.971411,17.369297,18.335817
min,0.000000,16.000000,0.000000e+00,1000.000000,5.000000,2.000000,4.000000,7.000000,4.000000,4.000000,6.000000,3.000000,9.000000,5.000000,12.000000,12.000000,15.000000,21.000000,16.000000,2.000000,15.000000,12.000000,17.000000,3.000000,11.000000,3.000000,2.000000,10.000000,5.000000,12.000000,3.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,3357.000000,21.000000,2.500000e+05,1000.000000,35.000000,28.000000,43.000000,50.000000,28.000000,45.000000,32.000000,29.000000,40.000000,51.000000,55.000000,55.000000,53.000000,54.000000,55.000000,42.000000,57.000000,54.000000,57.000000,29.000000,41.000000,24.000000,35.000000,42.000000,37.000000,49.000000,29.000000,25.000000,23.000000,8.000000,8.000000,8.000000,8.000000,8.000000
50%,6622.000000,24.000000,5.000000e+05,2000.000000,51.000000,45.000000,54.000000,60.000000,41.000000,58.000000,45.000000,39.000000,53.000000,60.000000,66.000000,66.000000,64.000000,59.000000,65.000000,56.000000,65.000000,64.000000,65.000000,47.000000,56.000000,51.000000,52.000000,52.000000,47.000000,56.000000,51.000000,54.000000,51.000000,11.000000,11.000000,11.000000,11.000000,11.000000
75%,9876.000000,28.000000,8.500000e+05,4000.000000,61.000000,59.000000,62.000000,65.000000,53.000000,65.000000,58.000000,52.000000,61.000000,65.000000,74.000000,73.000000,72.000000,65.000000,73.000000,65.000000,72.000000,72.000000,73.000000,59.000000,67.000000,62.000000,61.000000,60.000000,58.000000,63.000000,62.000000,64.000000,62.000000,14.000000,14.000000,14.000000,14.000000,14.000000
max,13125.000000,45.000000,1.185000e+08,565000.000000,93.000000,95.000000,94.000000,93.000000,90.000000,97.000000,93.000000,94.000000,93.000000,96.000000,97.000000,96.000000,96.000000,96.000000,96.000000,95.000000,95.000000,96.000000,97.000000,94.000000,95.000000,92.000000,95.000000,94.000000,91.000000,96.000000,93.000000,93.000000,91.000000,90.000000,92.000000,91.000000,90.000000,94.000000

In [31]:
display(football.describe()['Penalties'])

count    12897.000000
mean        46.459874
std         15.479313
min          5.000000
25%         37.000000
50%         47.000000
75%         58.000000
max         91.000000
Name: Penalties, dtype: float64

In [35]:
display(football.describe()['ShortPassing']['25%'])

50.0

In [36]:
display(football.describe()['Age']['max'])

45.0

## Индексация и извлечение данных: статистические методы

In [38]:
df = pd.DataFrame([[i,i+1.2,i+2, 'hi'] for i in range(10)],
                  columns = ['foo', 'bar', 'baz', 'foobar'])
display(df)

   foo   bar  baz foobar
0    0   1.2    2     hi
1    1   2.2    3     hi
2    2   3.2    4     hi
3    3   4.2    5     hi
4    4   5.2    6     hi
5    5   6.2    7     hi
6    6   7.2    8     hi
7    7   8.2    9     hi
8    8   9.2   10     hi
9    9  10.2   11     hi

In [39]:
print(df.mean())

foo    4.5
bar    5.7
baz    6.5
dtype: float64

In [40]:
print(df.foo)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
Name: foo, dtype: int64

In [41]:
print(df['bar'])

0     1.2
1     2.2
2     3.2
3     4.2
4     5.2
5     6.2
6     7.2
7     8.2
8     9.2
9    10.2
Name: bar, dtype: float64

Чему равен средний возраст (Age), футболистов в наборе данных, округлённый до целого?

In [46]:
print(round(football.mean()['Age']))

25.0

Каково количество непустых строк в колонке Composure (Хладнокровие) набора данных о футболистах

In [49]:
print(football.count()['Composure'])

12897

Каково в наборе данных о футболистах стандартное отклонение параметра коротких пасов (ShortPassing), округлённое до второго знака после запятой?

In [60]:
print(round(football.std()['ShortPassing'], 2))

14.74

Какова сумма заработных плат за год (Wage) в наборе данных о футболистах?

In [54]:
print(football.sum()['Wage'])

96954000

Какова минимальная стоимость футболиста (Value) в наборе данных о футболистах?

In [56]:
print(football.min()['Value'])

0

## Извлекаем данные по условиям

In [62]:
display(football[football.Age > 39])

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
41,41,G. Buffon,40,Italy,Paris Saint-Germain,4000000,77000,GK,13,15,...,22,70,13,11,11,88,87,74,90,83
521,525,Hilton,40,Brazil,Montpellier HSC,0,18000,CB,60,45,...,64,70,83,77,76,12,7,11,12,13
723,733,A. Bizzarri,40,Argentina,Foggia,525000,2000,GK,11,17,...,20,60,11,12,11,76,74,66,82,76
1290,1325,S. Bertoli,40,Argentina,Patronato,270000,6000,GK,12,19,...,72,44,12,13,11,76,73,78,67,71
1442,1489,S. Nakamura,40,Japan,Júbilo Iwata,0,4000,CAM,80,65,...,83,77,40,38,34,8,6,7,15,6
1542,1600,C. Lucchetti,40,Argentina,Atlético Tucumán,160000,4000,GK,23,13,...,54,41,21,22,13,71,68,75,64,75
1547,1607,B. Nivet,41,France,ESTAC Troyes,0,5000,CAM,67,69,...,76,82,58,56,43,11,7,8,14,7
1628,1695,O. Pérez,45,Mexico,Pachuca,1300000,8000,GK,19,14,...,23,62,23,12,11,70,64,65,73,74
2604,2722,C. Muñoz,41,Argentina,CD Universidad de Concepción,1100000,1000,GK,25,15,...,24,62,18,14,19,67,65,68,71,68
4411,4561,B. Castillo,40,Colombia,Atlético Huila,40000,1000,GK,12,10,...,24,26,30,10,19,60,66,64,73,63
5217,5377,F. Kippe,40,Norway,Lillestrøm SK,0,1000,LCB,33,46,...,62,64,62,58,55,14,9,10,6,11
5394,5556,S. Narazaki,42,Japan,Nagoya Grampus,40000,1000,GK,23,11,...,11,45,27,24,22,64,63,62,67,63
7005,7184,H. Sulaimani,41,Saudi Arabia,Ohod Club,0,3000,LB,71,43,...,60,67,62,66,63,15,8,15,14,13
7263,7444,W. Díaz,40,Colombia,Jaguares de Córdoba,0,1000,LCB,56,19,...,35,55,71,61,53,9,13,12,13,9
8873,9069,Y. Nakazawa,40,Japan,Yokohama F. Marinos,0,1000,CB,44,40,...,31,69,64,64,57,10,9,7,9,8
10154,10365,M. Tyler,41,England,Peterborough United,10000,1000,GK,19,8,...,7,57,24,16,17,61,54,54,63,55
10981,11201,P. van der Vlag,40,Netherlands,FC Emmen,10000,1000,GK,12,11,...,11,45,12,15,17,54,63,59,61,51
11309,11531,A. Al Basisi,40,Saudi Arabia,Ohod Club,10000,1000,GK,16,19,...,28,42,30,13,20,57,55,54,58,57
12422,12651,T. Warner,44,Trinidad & Tobago,Accrington Stanley,0,1000,GK,19,13,...,17,46,19,15,14,48,56,56,60,44
12448,12677,S. Phillips,40,England,Yeovil Town,0,1000,GK,13,15,...,13,63,15,12,17,48,54,47,53,46
12873,13102,K. Pilkington,44,England,Cambridge United,0,1000,GK,11,12,...,22,56,15,15,13,45,48,44,49,46

In [63]:
football[football.Age > football.Age.mean()]

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF,84,95,...,75,96,33,28,26,6,11,15,14,8
1,1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST,84,94,...,85,95,28,31,23,7,11,15,14,11
2,2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW,79,87,...,81,94,27,24,33,9,9,15,15,11
3,3,De Gea,27,Spain,Manchester United,72000000,260000,GK,17,13,...,40,68,15,21,13,90,85,87,88,94
4,4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM,93,82,...,79,88,68,58,51,15,13,5,10,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12746,12975,Teng Shangkun,27,China PR,Tianjin TEDA FC,20000,1000,GK,10,8,...,17,58,28,10,13,46,56,55,45,53
12749,12978,M. Mansour,26,Saudi Arabia,Al Batin,30000,2000,LB,36,18,...,33,37,45,54,54,10,8,6,13,13
12767,12996,Sun Qibin,26,China PR,Tianjin Quanjian FC,20000,2000,GK,14,7,...,12,30,46,11,10,50,46,51,48,50
12861,13090,Y. Uchimura,33,Japan,Hokkaido Consadole Sapporo,20000,1000,CAM,51,31,...,33,62,45,48,42,13,15,7,15,15
12873,13102,K. Pilkington,44,England,Cambridge United,0,1000,GK,11,12,...,22,56,15,15,13,45,48,44,49,46

In [64]:
football[(football.Age < football.Age.mean())|
        (football.Club == 'FC Barcelona')]

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF,84,95,...,75,96,33,28,26,6,11,15,14,8
7,7,L. Suárez,31,Uruguay,FC Barcelona,80000000,455000,RS,77,93,...,85,85,62,45,38,27,25,31,33,37
15,15,P. Dybala,24,Argentina,Juventus,89000000,205000,LF,82,84,...,86,84,23,20,20,5,4,4,5,8
16,16,H. Kane,24,England,Tottenham Hotspur,83500000,205000,ST,75,94,...,90,89,56,36,38,8,10,11,14,11
18,18,M. ter Stegen,26,Germany,FC Barcelona,58000000,240000,GK,15,14,...,25,69,25,13,10,87,85,88,85,90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12892,13121,J. Lundstram,19,England,Crewe Alexandra,1100000,1000,CM,34,38,...,43,45,40,48,47,10,13,7,8,9
12893,13122,N. Christoffersson,19,Sweden,Trelleborgs FF,60000,1000,ST,23,52,...,43,42,22,15,19,10,9,9,5,12
12894,13123,B. Worman,16,England,Cambridge United,60000,1000,ST,25,40,...,55,41,32,13,11,6,5,10,6,13
12895,13124,D. Walker-Rice,17,England,Tranmere Rovers,60000,1000,RW,44,50,...,50,46,20,25,27,14,6,14,8,9
12896,13125,G. Nugent,16,England,Tranmere Rovers,60000,1000,CM,41,34,...,33,43,40,43,50,10,15,9,12,9

In [65]:
football[(football.Age < football.Age.mean())&
        (football.Club == 'FC Barcelona')].Wage.mean()

77454.54545454546

Какова средняя скорость (SprintSpeed) футболистов, зарплата (Wage) которых выше среднего? Ответ округлите до сотых

In [69]:
round(football[(football.Wage > football.Wage.mean())].SprintSpeed.mean(), 2)

67.57

Какова средняя скорость (SprintSpeed) футболистов, зарплата (Wage) которых ниже среднего? Ответ округлите до сотых.

In [70]:
round(football[(football.Wage < football.Wage.mean())].SprintSpeed.mean(), 2)

62.41

Какую позицию (Position) занимает футболист с самой высокой зарплатой (Wage)?

In [71]:
football[(football.Wage == football.Wage.max())].Position

0    RF
Name: Position, dtype: object

Сколько пенальти (Penalties) забили бразильские (Nationality, Brazil) футболисты за период, данные о котором представлены в датасете?

In [4]:
import pandas as pd

football = pd.read_csv('data_sf.csv')
football[(football.Nationality == 'Brazil')].Penalties.sum()

22789

Укажите средний возраст (Age) игроков, у которых точность удара головой (HeadingAccuracy) > 50. Ответ округлите до сотых.

Укажите средний возраст (Age) игроков, у которых точность удара головой (HeadingAccuracy) > 50. Ответ округлите до сотых.

In [6]:
round(football[(football.HeadingAccuracy > 50)].Age.mean(), 2)

25.59

Укажите возраст (Age) самого молодого игрока, у которого хладнокровие (Composure) и реакция (Reactions) превышают 90% от максимального значения, представленного в датасете.

In [14]:
football[(football.Composure > 0.9 * football.Composure.max()) & (football.Reactions > 0.9 * football.Reactions.max())].Age.min()

24

Определите, насколько средняя реакция (Reactions) самых взрослых игроков (т.е. игроков, чей возраст (Age) равен максимальному) больше средней реакции самых молодых игроков. Ответ округлите до сотых.

In [20]:
senior_reactions = football[(football.Age == football.Age.max())].Reactions.mean()
junior_reactions = football[(football.Age == football.Age.min())].Reactions.mean()
print(round(senior_reactions - junior_reactions, 2))

49.357142857142854
22.64

Из какой страны (Nationality) происходит больше всего игроков, чья стоимость (Value) превышает среднее значение?

In [29]:
football[(football.Value > football.Value.mean())].describe(include = ['object']).Nationality.top

'Spain'

Определите, во сколько раз средняя зарплата (Wage) голкипера (Position, GK) с максимальным значением показателя " Рефлексы" (GKReflexes) выше средней зарплаты голкипера с максимальным значением показателя "Владение мячом" (GKHandling). Ответ округлите до сотых.

In [55]:
reflex = football[(football.Position == 'GK') & (football.GKReflexes == football.GKReflexes.max())].Wage.max()

handling = football[(football.Position == 'GK') & (football.GKHandling == football.GKHandling.max())].Wage.max()



print(round (reflex / handling, 2))

2.77

Определите, во сколько раз средняя сила удара (ShotPower) самых агрессивных игроков (игроков с максимальным значением показателя "Агрессивность" (Aggression)) выше средней силы удара игроков с минимальной агрессией. Ответ округлите до сотых.

In [60]:
max_aggression = football[football.Aggression == football.Aggression.max()].ShotPower.mean()

print(max_aggression)


min_aggression = football[football.Aggression == football.Aggression.min()].ShotPower.mean()

print(min_aggression)

print(round(max_aggression / min_aggression, 2))

63.0
30.333333333333332
2.08

## Группировка.

### Функция value_counts

In [8]:
import pandas as pd

df = pd.read_csv('data_sf.csv')

small_df = df[df.columns[1:8]].head(25)

small_df['Nationality'].value_counts()

Spain        4
Uruguay      3
Argentina    3
Belgium      3
Germany      3
France       2
Slovenia     1
England      1
Croatia      1
Brazil       1
Portugal     1
Poland       1
Italy        1
Name: Nationality, dtype: int64

In [10]:
small_df['Nationality'].value_counts().index

Index(['Spain', 'Uruguay', 'Argentina', 'Belgium', 'Germany', 'France',
       'Slovenia', 'England', 'Croatia', 'Brazil', 'Portugal', 'Poland',
       'Italy'],
      dtype='object')

In [12]:
small_df['Nationality'].value_counts().index[0]

'Spain'

In [17]:
small_df['Nationality'].value_counts()['England']

1

In [18]:
series = small_df['Nationality'].value_counts()

series[series > 1]

Spain        4
Uruguay      3
Argentina    3
Belgium      3
Germany      3
France       2
Name: Nationality, dtype: int64

Сколько футбольных клубов представлено в датасете?

In [22]:
football = pd.read_csv('data_sf.csv')

len(football['Club'].value_counts().index)

650

Отметьте названия футбольных клубов, представленных в датасете наибольшим количеством игроков.

In [26]:
series = football['Club'].value_counts()

series[series == series.max()]

V-Varen Nagasaki    30
Shonan Bellmare     30
Name: Club, dtype: int64

Как называется футбольный клуб, представленный наименьшим количеством игроков в датасете

In [27]:
series = football['Club'].value_counts()

series[series == series.min()]

Atlético Mineiro    6
Name: Club, dtype: int64

## Подсчет количества значений в процентах и по численным признакам

In [29]:
small_df['Nationality'].value_counts(normalize=True)

Spain        0.16
Uruguay      0.12
Argentina    0.12
Belgium      0.12
Germany      0.12
France       0.08
Slovenia     0.04
England      0.04
Croatia      0.04
Brazil       0.04
Portugal     0.04
Poland       0.04
Italy        0.04
Name: Nationality, dtype: float64

Данные об игроках каких позиций (Position) занимают более 10% датасета?

In [30]:
percent_position = football['Position'].value_counts(normalize=True)

percent_position[percent_position > 0.1]

GK    0.127239
ST    0.117237
CB    0.108785
Name: Position, dtype: float64

Данные об игроках каких позиций (Position) занимают менее 1% датасета?

In [31]:
percent_position[percent_position < 0.01]

LS     0.009382
RS     0.008839
RWB    0.005428
LWB    0.004652
CF     0.003954
LF     0.000620
RF     0.000465
LAM    0.000465
RAM    0.000388
Name: Position, dtype: float64

## Подсчет количества значений по численным признакам

In [32]:
s = small_df['Age'].value_counts()
display(s)

27    5
32    5
31    3
26    3
29    2
24    2
33    2
30    1
28    1
25    1
Name: Age, dtype: int64

In [33]:
s = small_df['Wage'].value_counts(bins=4)
display(s)

(211750.0, 329500.0]     9
(93528.999, 211750.0]    8
(329500.0, 447250.0]     6
(447250.0, 565000.0]     2
Name: Wage, dtype: int64

In [43]:
small_df = df[df.columns[0:7]].head(25)

display(small_df)

s = small_df['Wage'].value_counts(bins=4)

display(s)

s.index

s.index[3]

s.index[3].left

s.index[3].right

small_df['Wage'] > s.index[3].left

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage
0,0,L. Messi,31,Argentina,FC Barcelona,110500000,565000
1,1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000
2,2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000
3,3,De Gea,27,Spain,Manchester United,72000000,260000
4,4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000
5,5,E. Hazard,27,Belgium,Chelsea,93000000,340000
6,6,L. Modrić,32,Croatia,Real Madrid,67000000,420000
7,7,L. Suárez,31,Uruguay,FC Barcelona,80000000,455000
8,8,Sergio Ramos,32,Spain,Real Madrid,51000000,380000
9,9,J. Oblak,25,Slovenia,Atlético Madrid,68000000,94000
10,10,R. Lewandowski,29,Poland,FC Bayern München,77000000,205000
11,11,T. Kroos,28,Germany,Real Madrid,76500000,355000
12,12,D. Godín,32,Uruguay,Atlético Madrid,44000000,125000
13,13,David Silva,32,Spain,Manchester City,60000000,285000
14,14,N. Kanté,27,France,Chelsea,63000000,225000
15,15,P. Dybala,24,Argentina,Juventus,89000000,205000
16,16,H. Kane,24,England,Tottenham Hotspur,83500000,205000
17,17,A. Griezmann,27,France,Atlético Madrid,78000000,145000
18,18,M. ter Stegen,26,Germany,FC Barcelona,58000000,240000
19,19,T. Courtois,26,Belgium,Real Madrid,53500000,240000
20,20,Sergio Busquets,29,Spain,FC Barcelona,51500000,315000
21,21,E. Cavani,31,Uruguay,Paris Saint-Germain,60000000,200000
22,22,M. Neuer,32,Germany,FC Bayern München,38000000,130000
23,23,S. Agüero,30,Argentina,Manchester City,64500000,300000
24,24,G. Chiellini,33,Italy,Juventus,27000000,215000

(211750.0, 329500.0]     9
(93528.999, 211750.0]    8
(329500.0, 447250.0]     6
(447250.0, 565000.0]     2
Name: Wage, dtype: int64

0      True
1     False
2     False
3     False
4     False
5     False
6     False
7      True
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
Name: Wage, dtype: bool

В каких пределах находятся худшие 20% показателей точности ударов ногой (FKAccuracy)?

In [54]:
#20% = 1/5

sorted(football['FKAccuracy'].value_counts(bins=int(100/20)).index)[0]

Interval(2.908, 21.2, closed='right')

Какие показатели точности ударов ногой демонстрирует большинство футболистов?

In [66]:
football['FKAccuracy'].value_counts(normalize=True, bins=5)

(21.2, 39.4]     0.376754
(39.4, 57.6]     0.306816
(57.6, 75.8]     0.163449
(2.908, 21.2]    0.136466
(75.8, 94.0]     0.016515
Name: FKAccuracy, dtype: float64

## Функции unique и nunique и преобразование серии value_counts в датафрейм

In [67]:
small_df['Nationality'].unique()

array(['Argentina', 'Portugal', 'Brazil', 'Spain', 'Belgium', 'Croatia',
       'Uruguay', 'Slovenia', 'Poland', 'Germany', 'France', 'England',
       'Italy'], dtype=object)

In [68]:
len(small_df['Nationality'].unique())
#VS
small_df['Nationality'].nunique()

13

## Преобразование серии value_counts в датафрейм

In [70]:
s = small_df['Nationality'].value_counts()
s_df = s.reset_index()

s_df.columns = ['Nationality','Players Count']

display(s_df)

   Nationality  Players Count
0        Spain              4
1      Uruguay              3
2    Argentina              3
3      Belgium              3
4      Germany              3
5       France              2
6     Slovenia              1
7      England              1
8      Croatia              1
9       Brazil              1
10    Portugal              1
11      Poland              1
12       Italy              1

У какого процента испанских специалистов (Nationality = 'Spain') зарплата (Wage) находится в пределах 25% минимума от наблюдаемого уровня зарплат? Ответ дайте в виде целого числа (округлите полученный результат) без знака %.

In [18]:
import pandas as pd

football = pd.read_csv('data_sf.csv')

round(football[football.Nationality == 'Spain']['Wage'].value_counts(bins=4, normalize=True).max() * 100)

97

Укажите количество уникальных сборных (Nationality), к которым относятся футболисты, выступающие за клуб (Club) "Manchester United".

In [21]:
football[football.Club == 'Manchester United']['Nationality'].nunique()

13

С помощью функции unique определите двух футболистов из Бразилии (Nationality = 'Brazil'), выступающих за клуб (Club) 'Juventus'.

In [26]:
football[(football.Club == 'Juventus') & (football.Nationality == 'Brazil')]['Name']

64      Alex Sandro
65    Douglas Costa
Name: Name, dtype: object

Укажите, какой из клубов (Club) насчитывает большее количество футболистов возрастом (Age) старше 35 лет.

In [29]:
football[football.Age > 35]['Club'].value_counts()

Hokkaido Consadole Sapporo    4
Club Atlético Huracán         4
Benevento                     3
Club Atlético Colón           3
Club Atlético Talleres        3
                             ..
KAS Eupen                     1
Cittadella                    1
Grenoble Foot 38              1
Standard de Liège             1
Sassuolo                      1
Name: Club, Length: 212, dtype: int64

С помощью функции value_counts с параметром bins разбейте всех футболистов сборной (Nationality) Аргентины ('Argentina') на 4 равные группы. Укажите, сколько футболистов в возрасте от 34.75 до 41 года в сборной Аргентины.

In [31]:
football[football.Nationality == 'Argentina']['Age'].value_counts(bins=4)

(22.25, 28.5]      200
(15.974, 22.25]    197
(28.5, 34.75]      128
(34.75, 41.0]       49
Name: Age, dtype: int64

Сколько процентов футболистов из Испании (Nationality = 'Spain') имеют возраст (Age) 21 год? Введите с точностью до 2 знаков после запятой без указания знака %

In [54]:
age_df = football[(football.Nationality == 'Spain')]['Age'].value_counts(normalize=True).reset_index()

age_df.columns = ['Age', 'Percent']

float(round(age_df[age_df.Age == 21]['Percent'] * 100, 2))

11.77